body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

.no-script {
  font-size: 20pt;
  color: red;
  text-align: center;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

.page-footer {
    border-top: 1px solid #e8e8e8;
    padding: 20px 0;
    text-align: center;
    color: gray;
}
