%button-style {
  padding: 15px 5px;
  margin: 0px 5px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  color: black;
  font-size: 25px;

  @media #{$medium-screen} {
    font-size: 20px;
  }

  @media #{$big-screen} {
    padding: 5px 5px;
    margin: 0px 15px;
    font-size: 15px;
  }
}

.button, button {
  display: block;
  width: 200px;
  margin: 30px auto 15px auto;
  @extend %button-style;
}


.step-header .list {
  display: none;
  padding: 0px;
  margin: 0px auto;

  li {
    flex: 1;
    display: inline-block;
    @extend %button-style;

    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }

  .selected {
    color: blue;
  }

  .selectable {
    cursor: pointer;
  }

  .disabled {
    display: none;
    color: gray;
    cursor: not-allowed;
  }
}

.step-header .buttons {
  display: flex;
  margin: 0px 10px;

  button {
    flex: 1;
    @extend %button-style;
  }

  .disabled {
    color: gray;
    cursor: not-allowed;
  }
}

@media #{$medium-screen} {
  .step-header {
    .list {
      display: flex;
    }

    .buttons {
      display: none;
    }
  }
}

@media #{$big-screen} {
  .step-header .list {
    .disabled {
      display: block;
    }
  }
}
