%button-style {
  padding: 5px 5px;
  margin: 0px 15px;
  border: 2px solid black;
  border-radius: 10px;
}

.next-button {
  display: block;
  width: 200px;
  margin: 30px auto 15px auto;
  @extend %button-style;
}

.step-list {
  display: flex;
  width: 100%;
  padding: 0px;

  li {
    flex: 1;
    text-align: center;
    display: inline-block;
    @extend %button-style;
  }

  .selected {
    color: blue;
  }

  .selectable {
    cursor: pointer;
  }

  .disabled {
    color: gray;
    cursor: not-allowed;
  }
}
