$camWidth: 700px;

.take-image-div {
  display: block;
  position: relative;
  width: $camWidth;
  margin: 0px auto;

  img {
    position: absolute;
    top: 0;
    right: 0;
    width: $camWidth;
    opacity: 0.4;
  }

  .cam {
    width: $camWidth;
  }
}
