$camWidth: 700px;

.root {
  background: eee;
}
.root .cam {
    padding: auto 0;
    width: $camWidth;
  }

  .err-msg {
    border-radius: 5px;
    background-color: #ffaaaa;
    border: 2px solid #f00;
    padding: 3px;
  }

  .app-contents {
    margin-top: 30px;
  }
//
// .root img {
//     max-width: 300px;
//     max-height: 300px;
//   }

.root .cam-overlay {
    position: relative;
    width: $camWidth;
    height: 500;
   img {
    // max-width: $camWidth;
    // max-height: 100%;
    width: $camWidth;
    height: 100%;
  }
   div {
    position: absolute;
    top: 0;
    right: 0;
    // height: 100%;
    width: $camWidth;
  }
  .cam {
    // height: 100%;
    width: $camWidth;
    opacity: 0.5;
  }
}
