@import "step-list";
@import "webcam";

#root {
  background: eee;

  // .step-content {
  //   margin: 0px auto;
  // }

  .err-msg {
    border-radius: 5px;
    background-color: #ffaaaa;
    border: 2px solid #f00;
    padding: 3px;
    text-align: center;
  }

  .step-content {
    display: block;
    width: 90%;
    margin: 0px auto;
  }

  .diff-view {
    img {
      display: block;
      margin: 0px auto;
    }
  }
}
